@tailwind base;
@tailwind components;
@tailwind utilities;


.swal-footer{
    text-align: center;
}

.swal-button{
    background-color:#F84AD0;
}

.swal-button:not([disabled]):hover{
    background-color:#F84AD0;
}

.swal-button--cancel{
    background-color: #ffcd30;
}

.swal-button--cancel:not([disabled]):hover{
    background-color: #ffcd30;
}

.custom-input {
    border-radius: 10px;
    border-bottom: 2px #F84AD0 solid;
    width: 100%;
    padding:4px 16px;
    background-color: white;
    
  }
  
  .custom-input:focus {
    outline: none;
    border: 1px solid #F84AD0;
    box-shadow: 0 0 10px 2px #F84AD0;
  }

 .rmdp-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 400px;
     background-image:linear-gradient(to top , rgba(170, 168, 168, 0.203) , rgba(255, 255, 255, 0.199)),url(/images/2b14c0c293dfd726b35cd253d0cdcd4d.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }


.highlight-green{
    background-color: #97c197;
}

@layer base {


    @font-face {
        font-family: Vazir;
        src: url(/fonts/Vazir.ttf) format(truetype);
    }


    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        font-family: Vazir;
        direction: rtl;
        overflow-x: hidden;
        background-color: #f5f5f5;
    }

    * ::-webkit-scrollbar{
        scrollbar-color: #ffcd30;
        scrollbar-width: thin;
    }

    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    *::-webkit-scrollbar-track {
        /* background: #d4d4d4; */
        /* background: #e9e8e8; */
        border-radius: 10px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #ffcd30;
        border-radius: 20px;
    }


}

@layer utilities {

    .active {
        width: 180px;
        border-radius: 20px;
    }

    .activeNav::before,
    .activeNav::after {
        content: "";
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        transition: all 200ms;
    }

    .activeNav::before {

        top: -20px;
        border-bottom-right-radius: 20px;
        box-shadow: 7.5px 7.5px 0 7.5px #fdfeff;
        transform: rotate(90deg);
    }

    .activeNav::after {
        bottom: -20px;
        border-top-right-radius: 20px;
        box-shadow: 7.5px -7.5px 0 7.5px #fdfeff;
        transform: rotate(-90deg);

    }

    .shape:hover::before,
    .shape:hover::after {
        content: "";
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        background: transparent;
        transition: all 200ms;
    }


    .shape:hover::before {

        top: -20px;
        border-bottom-right-radius: 20px;
        box-shadow: 7.5px 7.5px 0 7.5px #fdfeff;
        transform: rotate(90deg);
    }

    .shape:hover::after {
        bottom: -20px;
        border-top-right-radius: 20px;
        box-shadow: 7.5px -7.5px 0 7.5px #fdfeff;
        transform: rotate(-90deg);

    }


    .toggle::before,
    .toggle::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 2.5px;
        border-radius: 3px;
        background: #565656;
        transition: 1s;
    }

    .toggle::before {
        transform: translateY(-5px);
    }

    .toggle::after {
        transform: translateY(5px);
    }

    .active .toggle::before {
        transform: translateY(0px) rotate(-405deg);
    }

    .active .toggle::after {
        transform: translateY(0px) rotate(225deg);
    }

    .tick:checked+.item {
        text-decoration: line-through;
    }

    .timeline::before{
        content:'';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #f472b6;
        top:2px;
        right:-30px;
        border-radius: 50%;
        z-index: 10;
    }


    .timeline::after{
        content:'';
        position: absolute;
        width: 1.5px;
        height:70px;
        background-color: #777;
        top:5px;
        right:-20px;
        z-index: 0;
    }
 
    .timeline-xs::before{
        content:'';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #f472b6;
        top:2px;
        right:-30px;
        border-radius: 50%;
        z-index: 10;
    }

    .timeline-xs::after{
        content:'';
        position: absolute;
        width: 1.5px;
        height:100px;
        background-color: #777;
        top:5px;
        right:-20px;
        z-index: 0;
    }

    .bg-weather{
        /* background-image:linear-gradient(to top , #9056c345 , #9862c762 ),url(/images/vecteezy_vector-landscape-with-silhouettes-of-mountains-trees-and_10055946.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        background-image:linear-gradient(to top , #8c1cc44c , #9862c7a9 ),
        url(/images/mountain_landscape9_generated.jpg);
        filter: contrast(130%) hue-rotate(730deg) saturate(150%);

    }


}


@layer components {
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .2);
        width: 100%;
        height: 100vh;
        visibility: hidden;
        opacity: 0;
    }

    .active-modal {
        visibility: visible;
        opacity: 1;
    }
}
